@media only screen and (max-width: 480px) {
    .add-student-title {
        text-align: center;
        margin: 20px 0;
    }

    .add-student-form {
        margin-top: 0;
        padding-top: 0;
        width: 100%;
    }
}

@media only screen and (min-width: 481px) {
    .add-student-title {
        text-align: center;
        margin: 20px 0;
    }

    .add-student-form {
        margin-top: 0;
        padding-top: 0;
        width: 70%;
    }
}


@media only screen and (min-width: 769px) {
    .add-student-title {
        text-align: center;
        margin: 20px 0;
    }

    .add-student-form {
        margin-top: 0;
        padding-top: 0;
        width: 60%;
    }
}


@media only screen and (min-width: 1024px) {
    .add-student-title {
        text-align: center;
        margin: 30px 0;
    }

    .add-student-form {
        margin-top: 0;
        padding-top: 0;
        width: 50%;
    }
}