@media only screen and (max-width: 480px) {}

@media only screen and (min-width: 481px) {

    .student-form {
        width: 100%;
    }

    .add-student-row {
        width: 100%;
    }

    .add-student-field-col {
        column-count: 1;
        padding: 0px;
    }

    /* .add-student-field-col.second-column {
        padding-left: 10px;
    } */

    .add-student-form-row {
        padding: 10px 0px;
        column-gap: normal;
    }

    .add-student-form {
        width: 50%;
        margin: 0 auto;
    }
}


@media only screen and (min-width: 769px) {}


@media only screen and (min-width: 1024px) {}